# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Pico specific
config.php
*/pid/*.pid
confirm/*.png
siteGen/images/thumbs/*
siteGen/images/sites/*
