{% extends 'OfdanSearchBundle::layout.html.twig' %}

{% block body %}
    <h1>About</h1>

    <p>This is a search engine completely written by drunk people in 6 hours late one Saturday night.</p>

    <p>It does all the work so you don't have to - it spiders the web, removes 'spammy' web 
    sites and lets you search the basic keywords index. It completely follows the Keep It 
    Simple Stupid principle. Especially in 6 hours.</p>

    <p>The whole thing was completely written by:</p>
    <ul>
    <li>Dan Platt (Web Crawler)</li>
    <li>Alex Teugels (User Interface)</li>
    <li>Owen Gerrard (Asleep on the sofa)</li>
    <li>Sarah Quirke (Opening up a window of non-nagitude)</li>
    </ul>

    <p>We're in a bit of a rush so I'll stop talking now. If you like it, support it!</p>
{% endblock %}
