{% extends 'OfdanSearchBundle:Static:static.html.twig' %}

{% block static %}
    <h1>Download</h1>

    <p>Please read the <a href="{{ path('OfdanSearchBundle_license') }}">license</a> before downloading.</p>

    <p>The files are stored on github.com</p>
    <p>You will need Git install.</p>
    <p>git clone git://github.com/hackzilla/Pico.git</p>
{% endblock %}
