{% extends 'OfdanSearchBundle::layout.html.twig' %}

{% block title %}Pico - Your Search: {{ query }}{% endblock %}

{% block search %}
    {% include "OfdanSearchBundle:Search:searchbox.html.twig" with { query: query } %}
{% endblock %}

{% block body %}
<div id="results">
    <h1>Results</h1>
    {% if suggestion %}
    	<p class='spelling'>Did you mean: <a href="{{ path('OfdanSearchBundle_search_with_query', {'query': query}) }}">{{ suggestion|raw }}</a>
    {% endif %}

    {% for result in results %}
        <p>Search results will go here.</p>
    {% else %}
        <p>Sorry, <strong>no results</strong> were found in the database. Please try the following:</p>
        <ol>
            <li>Check your spelling carefully</li>
            <li>Try different words with the same meaning</li>
            <li>Be less specific in your search</li>
            <li>Search for something else, like porn</li>
        </ol>
    {% endfor %}
</div>
<br />

{% endblock %}
