{% extends 'OfdanSearchBundle::layout.html.twig' %}

{% block title %}Pico - Your Search: {{ query }}{% endblock %}

{% block search %}
    {% include "OfdanSearchBundle:Search:searchbox.html.twig" with { query: query } %}
{% endblock %}

{% block body %}
<div id="results">
    <h1>Results</h1>
    {% if suggestion %}
    	<p class='spelling'>Did you mean: <a href="{{ path('OfdanSearchBundle_search_with_query', {'query': query}) }}">{{ suggestion|raw }}</a>
    {% endif %}

    <p>Search results will go here.</p>
</div>
{% endblock %}
