<div id="main">
    <form action="{{ path('OfdanSearchBundle_homepage') }}" method="get">
        <input type="text" size="25" name="q" value="{{ query }}" >
        <input type="submit" value="Search" >
    </form>
</div>
<br />
