{% extends 'OfdanSearchBundle:Static:static.html.twig' %}

{% block static %}
    <h1>Live Search Spy</h1>
    <p>This is an uncensored list of all searches currently taking place.</p>

    <ul>
        {% for search in searches %}
            <li><a href="{{ path('OfdanSearchBundle_search', { 'q': search.query }) }}">{{ search.query }}</a> by {{ search.ip }} on {{ search.createdAt|date("d-M-Y")}}</li>
        {% else %}
            <li>There are no search entries</li>
        {% endfor %}
    </ul>
{% endblock %}
