{% extends 'OfdanSearchBundle:Static:static.html.twig' %}

{% block static %}
    <h1>Suggestion Exists</h1>
    <p>Your site has already been added.</p>
    <p>Please allow time for it to be crawled.</p>
{% endblock %}
