body {
    font-family: trebuchet ms,sans-serif;
    text-align: center;
}
img {
    border: 0;
}
form {
    padding: 0px;
    margin: 0px;
}
#main {
    border: #000 1px solid;
    width: 400;
    text-align: center;
    padding: 10px;
    background-color: #EEE;
    margin: 0 auto 0 auto;
}
#main #cc {
    width: 130px;
}
#static {
    border: #000 1px dotted;
    width: 400;
    text-align: left;
    padding: 15px;
    background-color: #FFF;
    margin: 0 auto 0 auto;
}
#static p {
    font-color: #000;
    font-size: 10pt
}
#static li {
    font-color: #000;
    font-size: 10pt;
    list-style: none;
}
#static a {
    color: #000099;
    text-decoration: underlined;
    font-weight: bold;
}
#static a:hover {
    color: #990000;
    text-decoration: none;
    font-weight: bold;
}
#static h1, #results h1 {
    font-color: #000;
    font-size: 12pt;
    font-weight: bold;

    margin-top: 0;
    padding-top: 0;
}
#results {
    border: #000 1px dotted; width: 400;
    text-align: left;
    padding: 15px;
    background-color: #FFF;
    margin: 0 auto 0 auto;
}
#results p.spelling {
    color: #FF0000;
    margin-top: 0;
    padding-top: 0;
}

#results p {
    font-color: #000;
    font-size: 10pt
}
#results li {
    font-family: trebuchet ms, sans-serif;
    font-size: 10pt;
    padding-bottom: 10px;
    overflow:hidden;
    clip:auto;
    word-wrap: break-word;
    list-style: none;
}
#results li img {
    float: left;
    margin-right: 10px;
    padding: 1px;
    border: 1px #CCC solid;
    border: 1px #CCC dotted;
}
#results li .box {

}
#results li a {
    color: #000099;
    text-decoration: underlined;
    font-weight: bold;
}
#results li a:hover {
    color: #990000;
    text-decoration: none;
    font-weight: bold;
}
#results em {
    font-size: 9px;
    color: #999;
}
.pages {
    font-family: verdana;
    font-size: 10px;
    text-align: center
}
.pages a {
    color: #000099;
    text-decoration: underlined
}
.pages a:hover {
    color: #990000;
    text-decoration: none
}
.data {
    font-family: verdana;
    font-size: 10px;
    font-color: #111
}
#base {
    width: 400;
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    margin: 0 auto 0 auto;
}
#base a {
    color: #000099;
    text-decoration: underlined
}
#base a:hover {
    color: #990000;
    text-decoration: none;
}
.info {
    text-decoration: none;
    cursor: help;
    font-color: #000;
}
